<!-- <a href="/"> -->
	<!-- <h1 class="icomoon"> -->
		<!-- <span class="acm">{{ .Site.Params.conf.name }}</span> -->
		<!-- <span class="acm">ACM</span> -->
		<!-- <span class="icon" aria-hidden="true">&#x{{ .Site.Params.conf.glyphUnicode }};</span> -->
		<!-- <span class="text">{{ .Site.Params.conf.name }}</span> -->
	<!-- </h1> -->
	<!-- <h2>{{ .Site.Params.conf.description }}</h2> -->
	<!-- {{ if isset .Site.Params.Conf "countdowntimestamp" }}
		{{ .Site.Params.Conf.countdownText }} 
		new Date("{{ .Site.Params.Conf.countdownTimestamp }}").getTime();
	{{ end }} -->
<!-- </a> -->
<!-- <a href="/venue.html"> -->
	<!-- <h3> -->
		<!-- {{ .Site.Params.conf.dates }} • {{ .Site.Params.conf.location }} -->
		<!-- <br><br>
		{{ .Site.Params.conf.notification }} -->
	<!-- </h3> -->
	
	<!-- {{ if isset .Site.Params.Conf "countdowntimestamp" }}
		<div class="countdown">
			<h4 id="countdownhead">{{ .Site.Params.conf.countdownText | safeHTML }}</h4>
			<canvas id="timer" data-date="{{ .Site.Params.Conf.countdownTimestamp }}"></canvas>
		</div>
	{{ end }} -->
<!-- </a> -->