<h2>Sponsors</h2>

<a href="https://www.acm.org" target="_blank">
	<img src="/media/sponsors/acm_100.png" />
</a>

<a href="https://www.sigmobile.org/grav/" target="_blank">
	<img src="/media/sponsors/sigmobile_200.png" />
</a>

<!-- <h2>Goverment Sponsors</h2> -->

<!-- <h2>Corporate Sponsors</h2> -->

<h3>Platinum Sponsors</h3>
<!--
<a href="https://www.nsf.gov" target="_blank">
	<img src="/media/sponsors/nsf_200.jpg" class="platinum-sponsor"/>
</a>
<a href="https://www.pdx.edu/computer-science/" target="_blank">
	<img src="/media/sponsors/pdx-cs.jpg" class="platinum-sponsor"/>
</a>
<br>
<a href="https://www.pdx.edu/engineering/" target="_blank">
	<img src="/media/sponsors/psu_mcecs_comp.jpg" class="platinum-sponsor"/>
</a>

<h3>Gold Sponsors</h3>
<a href="https://www.microsoft.com/en-us/research/" target="_blank">
	<img src="/media/sponsors/microsoft_700.png" class="gold-sponsor" />
</a>
<a href="https://www.juniper.net/" target="_blank">
	<img src="/media/sponsors/juniper-networks_700.png" class="gold-sponsor"  />
</a>
-->
<br>
<!-- <a href="https://www.google.com" target="_blank">
	<img src="/media/sponsors/google.png" />
	<p>(Sapphire Sponsor)</p>
</a> -->

<h3>Silver Sponsors</h3>
<!--
<a href="https://www.google.com" target="_blank">
	<img src="/media/sponsors/google_500.png" class="silver-sponsor" />
</a>
<a href="https://www.cmtelematics.com/" target="_blank">
	<img src="/media/sponsors/CMT.png" class="silver-sponsor" />
</a>
<br>
<a href="https://www.earable.ai/" target="_blank">
	<img src="/media/sponsors/earable_500.png" class="silver-sponsor" />
</a>
<a href="https://www.uber.com" target="_blank">
	<img src="/media/sponsors/Uber logo light.png" class="silver-sponsor" />
</a>
-->

<h3>Bronze Sponsors</h3>
<!--
<a href="https://www.cisco.com/" target="_blank">
	<img src="/media/sponsors/cisco.png" class="bronze-sponsor" />
</a>
-->

<h3>Host Institution</h3>
<!--
<a href="https://www.pdx.edu/" target="_blank">
	<img src="/media/sponsors/pdx_comp.jpg" class="gold-sponsor"/>
</a>
-->